/* Hide overflowing content because we only want to show the first results */
body {
	overflow: hidden;
}

/* Make font-size responsive 
 * (see http://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters)
 */
* {
	font-size: 30px;
	font-size: 4vw;
}

/* The odd table rows need a bit more contrast, than bootstrap usual has */ 
.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #ccc;
}
