/* Hide overflowing content because we only want to show the first results */
body {
    overflow: hidden;
    /* improve contrast (see http://www.writer2001.com/colwebcontrast.htm) */
    background-color: black;
}

.panel-default > .panel-heading {
    background-color: black;
    border-color: #333;
}

.panel,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-color: #333;
    white-space: nowrap;
}

/* Make font-size responsive 
 * (see http://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters)
 */
* {
    font-size: 30px;
    font-size: 4vw;
    /* improve contrast (see http://www.writer2001.com/colwebcontrast.htm) */
    color: #ffc400;
}
@media (min-width: 768px) {
    * {
	font-size: 40px;
	font-size: 6vw;
    }
}

/* The odd table rows need a bit more contrast, than bootstrap usual has */ 
.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #222;
}

