/* Hide overflowing content because we only want to show the first results */
body {
    overflow: hidden;
    /* improve contrast (see http://www.writer2001.com/colwebcontrast.htm) */
    background-color: black;
}

/* Make font-size responsive 
 * (see http://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters)
 */
* {
    font-size: 30px;
    font-size: 5vw;
    /* improve contrast (see http://www.writer2001.com/colwebcontrast.htm) */
    color: #ffc400;
}
@media (min-width: 768px) {
    * {
	font-size: 40px;
	font-size: 10.3vw;
    }
}

.departure {
    width: 100%;
    height: 20%;
}

.departure > * {
    float: left;
    height: 100%;
    margin-top: 1%;
    border-width: 2px;
    border-color: #333;
    background-color: #4C4C4C;
    white-space: nowrap;
}

.departure:nth-child(odd) > * {
    background-color: #2C2C2C;
}

.departure-line {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    width: 12%;
    clear: left;

    margin-left: 1%;
    padding-left: 1%;

    text-align: center;
}

.departure-direction {
    width: 58%;
    height: 100%;

    padding-left: 1%;
    padding-right: 1%;
    margin-left: .5%;

    text-align: left;
}

.departure-countdown {
    width: 22%;

    padding-left: 1%;
    padding-right: 1%;
    margin-left: .5%;

    text-align: right;
}

.departure-hour {
    font-size: 30px;
    font-size: 6vw;
}

#stop-info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 55px;
    height: 9vw;

    background-color: rgba(20, 20, 20, 0.9);
}

#stop-name {
    margin: 0;
    font-size: 30px;
    font-size: 6vw;

    position: absolute;
    bottom: 1%;
    left: 1%;
}

#stop-time {
    margin: 0;
    font-size: 40px;
    font-size: 7vw;

    position: absolute;
    bottom: 1%;
    right: 1%;
}

.departure.ng-enter {
    transition:.75s linear all;
    opacity:0;
}

.departure.ng-enter.ng-enter-active {
    opacity:1;
}

.departure.ng-leave {
    transition:1.5s linear all;
    margin-left:0;
}

.departure.ng-leave.ng-leave-active {
    margin-left:200%;
}

@keyframes marquee {
    0%   { transform: translate(100vw, 0); }
    100% { transform: translate(-100%, 0); }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes marquee {
    0%   { transform: translate(100vw, 0); }
    100% { transform: translate(-100%, 0); }
}

.disruption-feed {
    position: absolute;
    bottom: 15%;
    left: 20px;

    font-size: 60px;
    font-size: 8vw;

    overflow: hidden;
    white-space: nowrap;
}

.disruption-feed.active {
    animation: marquee 40s linear infinite;

    /* Chrome, Safari, Opera */
    -webkit-animation: marquee 40s linear infinite;
}

.disruption-bg {
    position: absolute;
    height: 70px;
    height: 8vw;
    padding: 10px;
    bottom: 15%;
    right: 0;
    left: 0;

    font-size: 60px;
    font-size: 8vw;

    background-color: rgba(36, 24, 4, 0.8);
}
