/* Hide overflowing content because we only want to show the first results */
body {
    overflow: hidden;
    /* improve contrast (see http://www.writer2001.com/colwebcontrast.htm) */
    background-color: black;
}

/* Make font-size responsive 
 * (see http://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters)
 */
* {
    font-size: 30px;
    font-size: 4vw;
    /* improve contrast (see http://www.writer2001.com/colwebcontrast.htm) */
    color: #ffc400;
}
@media (min-width: 768px) {
    * {
	font-size: 40px;
	font-size: 6vw;
    }
}

.departure {
    width: 100%;
    height: 15%;
}

.departure > * {
    float: left;
    height: 100%;
    margin-top: 1%;
    border-width: 2px;
    border-color: #333;
    background-color: #222;
    white-space: nowrap;
}

.departure-line {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    width: 9%;
    clear: left;

    margin-left: 1%;
    padding-left: 1%;

    text-align: center;
}

.departure-direction {
    width: 70%;
    height: 100%;

    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;

    text-align: left;
}

.departure-countdown {
    width: 12%;

    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;

    text-align: right;
}
